<section class="welcome card">
  <h1>Dockerized Rails Application</h1>
  <h3>Testing to see if Auth0 works</h3>
  <a class="btn green" href="/auth/auth0">Login</a>
</section>
<%= debug session[:userinfo] %>